.Person {
  width: 60%;
  margin: 60px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 60px;
  text-align: center;
}

@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}